<div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 col-xs-2">
        <ul class="list-group card text-white bg-secondary mb-3 ">
            <li class="list-group-item bg-warning">
                <a routerLink="tournament">Tournament</a>
            </li>
            <li class="list-group-item bg-warning">
                <a routerLink="teams">Teams</a>

            </li>
            <li class="list-group-item bg-warning">
                <a routerLink="players">Players</a>
            </li>

        </ul>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-10 col-xs-10">
        <router-outlet></router-outlet>
    </div>
</div>